.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--spacing-md);
  margin: 0 auto;
  max-width: 1202px;
  width: 100%;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.loadingContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width:1024px) {
  .container {
    width: 80%;
  }

  .listContainer.detailView {
    flex-direction: row;
    flex-wrap: wrap;
  }
}