.heroImage {
	display: none;
}


@media (min-width: 1024px) {
	.heroImage {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		background-size: cover;
		min-height: 100vh;
		background-image: url('../../../../../assets/hero-image.jpg');
		min-width: 480px;

	}

	.welcomeContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-inline: var(--spacing-3xl);
		text-align: center;
		padding-bottom: var(--spacing-3xl);
	}

	.welcomeText {
		color: white;
		font-family: 'PlayfairDisplay', serif;
		font-size: 36px;
		font-weight: 400;
	}

	.hyphen {
		width: 12px;
		height: 2px;
		background-color: #1BE38B;
	}
}

@media (min-width: 1440px) {
	.heroImage {
		width: 40%;
	}
}