.button {
	font-family: inherit;
	font-weight: var(--font-weight-bold);
	border: none;
	border-radius: var(--radius-main);
	cursor: pointer;
	transition: background 0.2s, box-shadow 0.2s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.primary {
	background: var(--color-bg-success);
	color: #fff;
}

.primary:hover:not(:disabled) {
	background: var(--color-bg-success-hover);
}

.secondary {
	background: var(--color-bg-grey-dark);
	color: #fff;
}

.secondary:hover:not(:disabled) {
	background: var(--color-bg-grey-medium);
}

.alert {
	background: var(--color-bg-error);
	color: #fff;
}

.alert:hover:not(:disabled) {
	background: var(--color-bg-error-hover);
}

.disabled {
	background: var(--color-bg-grey);
	color: #fff;
	cursor: not-allowed;
}

.normal {
	padding: 18px 0;
	min-width: 240px;
	font-size: var(--font-size-lg);
}

.small {
	padding: 8px 24px;
	min-width: 100px;
	font-size: var(--font-size-sm);
	line-height: 1;
}

.link {
	background: none;
	color: var(--color-text-main);
	font-weight: var(--font-weight-regular);
	min-width: auto;
	padding: 0;
}

.loading {
	position: relative;
	pointer-events: none;
}

.spinner {
	animation: spin 1s linear infinite;
}

.withIcon {
	font-size: 0;
}

@media screen and (min-width:1024px) {
	.withIcon {
		font-size: initial;
	}

	.link {
		gap: var(--spacing-xs)
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}