.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-md);
}

.cardHeader {
  margin-block: var(--spacing-lg);
  line-height: 1.2;
}

.cardDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardDescription>* {
  margin: 0;
}

.cardAttendees {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs)
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--spacing-md);
}

.cardHeader>*,
.cardFooter>*,
.cardFooter * {
  margin: 0
}

@media screen and (min-width:1024px) {
  .cardContent {
    width: 342px;
    height: 248px;
  }
}