.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	background-color: var(--color-bg-light);
	padding: var(--spacing-lg);
}

.main {
	display: flex;
	justify-content: center;
	width: 100%;
}



@media (min-width: 1024px) {
	.container {
		flex-direction: row;
		justify-content: flex-start;
		padding: 0;
	}

}