.container {
  position: relative;
  max-width: 522px;
}

.iconNotFound {
  display: none;
}

@media screen and (min-width:1024px) {
  .iconNotFound {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-30%, -50%);
  }
}